* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 100vw !important;
    max-height: 100vh !important;
    overflow: hidden !important;
}

label,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: #34495E;
    font-family: 'Quicksand', sans-serif;
}

.white-text {
    color: white;
}

.dark-text {
    color: #34495E;
}

.bold-text {
    font-weight: bold;
}

.center-text {
    text-align: center;
}

.hg-5 {
    height: 5vh !important;
}

.sm-mg-left {
    margin-left: 10px;
}

.green-text {
    color: #116757;
}

.green-border {
    border: 1px #116757 solid;
}

.white-background {
    background-color: white;
}

.off-white-background{
    background-color: #F5F5F5;
}

.green-background {
    /* https://gradient.shapefactory.co/?a=063841&b=00D082&d=25 */
    background-image: linear-gradient(25deg, #063841, #116757, #139a6c, #00d082)
}

.sunny-background {
    /* https://gradient.shapefactory.co/?a=FC1114&b=EFEB00&d=25 */
    /* background-image: linear-gradient(25deg, #fc1114, #fe790f, #fab509, #efeb00) */
    background: rgb(255, 148, 0);
    background: -moz-linear-gradient(25deg, rgba(255, 148, 0, 1) 0%, rgba(245, 206, 5, 1) 100%);
    background: -webkit-linear-gradient(25deg, rgba(255, 148, 0, 1) 0%, rgba(245, 206, 5, 1) 100%);
    background: linear-gradient(25deg, rgba(255, 148, 0, 1) 0%, rgba(245, 206, 5, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff9400", endColorstr="#f5ce05", GradientType=1);
}


#credit-text {
    text-align: center;
}


/* For Mobile */
@media (max-width: 992px) {
    html {
        font-size: xx-large;
    }

    #header-section {
        padding-top: 30px;
        padding-left: 40px;
        height: 8vh !important;
    }

    #footer-text {
        height: 10vh !important;
    }
}

/* For Desktop */
@media (min-width: 992px) {
    html {
        font-size: medium;
    }

    #header-section {
        padding-top: 30px;
        padding-left: 40px;
        height: 20vh !important;
    }

    #footer-text {
        height: 10vh !important;
    }
}